@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#gradient-canvas {
  width: 100%;
  height: 90%;
}

@media (min-width: 1024px) {
  #gradient-canvas {
    width: 100%;
    height: 90%;
  }
}







.gradient-colour-1 {
  --gradient-color-1: #3a94d0;
  --gradient-color-2: #5533ff;
  --gradient-color-3: #1ca8ff;
  --gradient-color-4: #84f6d5;
}

.gradient-colour-2 {
  --gradient-color-1: #d1d5d8;
  --gradient-color-2: #3498db;
  --gradient-color-3: #e74c3c;
  --gradient-color-4: #80cc53;
}


.gradient-colour-3 {
  --gradient-color-1: #e63946;
  --gradient-color-2: #f1faee;
  --gradient-color-3: #a8dadc;
  --gradient-color-4: #457b9d;
}

.gradient-colour-4 {
  --gradient-color-1: #480ca8;
  --gradient-color-2: #b5179e;
  --gradient-color-3: #4cc9f0;
  --gradient-color-4: #f72585;
}

.animate-gradient {
  background: linear-gradient(45deg, #25aeee, #b22fad, #f89e55);
  background-size: 500% 500%;
  animation: gradient 8s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
